:root{
  --flag-blue: #4484BF;
  --small: #15263899;
  --flag-green: #66CE5F;
  --main: #152638;
  --gloss: #62819e;
  --idk: #6ed8f0;
}

body {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  line-height: 1.6;
  max-width: 75ch;
  margin: 0 auto;
  padding: clamp(1rem, 4vw, 3rem);
  background-color: var(--gloss);
  color: var(--main);
  font-family: 'Verdana';
}

.table-wrapper {
  overflow-x: auto;
}

img, video, iframe {
  max-width: 100%;
  height: auto;
}

small {
  color: var(--small);
  font-style: italic;
}
/*highlight*/
.hl { color: var(--flag-green); }
/*high-highlight*/
.hhl, .conlang { color: var(--flag-green); font-weight: bold; }

.lesson {
  background-color: var(--flag-blue) /*var(--flag-green)*/;
  padding: 2rem;
  border-radius: 0.25rem;
  margin-bottom: 1.75rem;
  border: 2px solid var(--idk);
}

.feedback {
  color: #00000000;
  font-size: 1.25rem;
  margin: 0 auto;

}

button {
  background-color: var(--gloss);
  color: var(--white);
  border: var(--idk) solid 0.29rem;
  border-radius: 0.48rem;
}

input { border-radius: 0.48rem; }

table, th, td {
  border: solid black;
  border-collapse: collapse;
  /*padding: 0.26rem;*/
}

th, td {
  padding: 0.46rem;
}

h2, h3, h1, h4, .c {
  display:  flex;
  justify-content: center;
  align-content: center;
}